@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    /* padding: 0;  */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fondo{
    display: flex;
    background:rgb(250, 250, 250);
}

.card a{
    text-decoration: none;
}


.imagen img{
width: 100%;
margin: 0;
}

.lista{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.comprar-boton {
    background-color: rgb(0, 0, 0); 
    color: #fff; 
    font-size: 18px; 
    font-weight: bold;
    padding: 10px 20px; 
    cursor: pointer; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.comprar-boton:hover {
    background-color: rgb(255, 255, 255); 
    color: #000000; 
    font-size: 18px; 
    font-weight: bold;
    padding: 10px 20px; 
    cursor: pointer; 
    box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.1);
   
}

.textoney{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 75px;
    text-align:left;
    margin-bottom: 0px;
}

.textone{
    /* font-family: 'Poppins', sans-serif;  */
    font-weight:100;
    font-size: 60px;
    margin: 50px;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 0;
}


.line {
    border-top: 3px solid #d4d3d3; 
    width: 90%; 
    text-align: center;
    
}

.cen{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card {
    display: block;
    width: auto;
    font-size: 1.2rem;
    border: 2px solid #f3f3f3;
    border-radius: 1px;
    margin: 1%;
    box-shadow: 6px 10px 4px rgba(0, 0, 0, 0.1);
    background:rgb(255, 255, 255);
    
  
  }
  
  .card:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 14px 15px 3px rgba(0, 0, 0, 0.1);
    
    font-weight: bold;
    border: 2px solid #dfdbdb;
    margin-top: 0%;

  }

  .card img {
    width: 92%;
    border-radius: 1px;
    border: 2px solid #eee;
    margin: 4%;
    margin-bottom: 0px;
    
  }
  .card p {
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: left;
    
  }

  
  .detalle {
    padding: 15px;
    padding-top: 0px;
   
  }

 


  .subtitulo{
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin: 15px;
    margin-left: 80px;
}
  
body{
    background:rgb(249 ,245 ,235 );
    margin: 0;
}

.estrellas{
    display: flex;
    flex-wrap: nowrap;
    width: 100%; border: none;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.estrellas img{
    width: auto;
    border: none;
    height: 60px;
    object-fit: cover;
    margin: 0;
}

.ima{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    gap: 10px;
}
    
.ima p{

    color: rgb(155, 7, 7);
    text-align: end;
    /* margin-top: 10%; */
    font-size: 15px;
    
}

* {
 box-sizing: border-box;
}

.flechitaL{
     /* position: absolute; */
     
     position: absolute;
     left: 0px;
     top: 40%;
     font-size: 24px;
     font-weight: bold;
     cursor: pointer;
     color:#000000;
     background-color:#fff;
     width: 40px; 
     height: 70px; 
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10%;
     box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.1);
     margin: auto;
}

.flechitaL svg{
    transform: rotate(180deg);
}

.flechita {
    /* position: absolute; */
    position: absolute;
    right: 0px;
    top: 40%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color:#000000;
    background-color:#fff;
    width: 40px; 
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.flechita svg{
    /* position: absolute; */
   color: #000000;
 
}
.imgmobile img{
    display: none;
}

.imgpc{
display: none;
}


.imgpc img{
    width: 100%;
}

section {
    position: relative;
   
    overflow: hidden;
}
@media (min-width: 1060px){
    .imgpc {
        display: block;
            width: 100%;
            height: 400px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(249 ,245 ,235 ,0.25) 81%, rgba(249 ,245 ,235 , 1) 100%),url(../images/banerNey.jpeg);
            background-size: cover;
        
    }

    
}
@media (max-width: 1060px){

    .hidden1{
        display: none;
    }
    .textoney{
        font-family: 'Poppins', sans-serif; 
        font-size: 30px;
        text-align:center;
        margin: 0;
        
    }
    .comprar-boton {
        background-color: rgb(0, 0, 0); 
        color: #fff; 
        font-size: 23px; 
        font-weight: bold;
        padding: 3px 10px; 
        cursor: pointer; 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     
    }
    .textone{
        display: none;
    }
    .subtitulo{
        font-family: 'Poppins', sans-serif;  
        font-weight: 300;
        font-size: 20px;
        color: #000000;
        margin: 20px;
        margin-left: 80px;
    }

    

    .fondo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .flechita {
        position: absolute;
        top: 40%;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color:#000000;
        background-color:#fff;
        width: 35px; 
        height: 60px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.1);
    }

    .flechitaL{
        /* position: absolute; */
        
        position: absolute;
        left: 0px;
        top: 40%;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color:#000000;
        background-color:#fff;
        width: 35px; 
        height: 60px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.1);
        margin: auto;
   }
   .imgpc {
    display: block;
    width: 100%;
    height: 254px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(249 ,245 ,235 ,0.25) 81%, rgba(249 ,245 ,235 , 1) 100%),url(../images/banerNey.jpeg);
    background-size: 121% 117%;
    
}

.imgmobile img{
    
  display: none;
}
}



@media (max-width: 585px){

    .imgpc {
        display: none;
        /* display: block;
            width: 100%;
            height: 330px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(249 ,245 ,235 ,0.25) 81%, rgba(249 ,245 ,235 , 1) 100%),url(../images/banerNey.jpeg);
            background-size: cover; */
        
    }
    .imgmobile img{
        display: block;
        width: 100%;;
     }
    .hidden2{
        display: none;
    }
   
    .textoney{
        /* font-family: 'Poppins', sans-serif; */
        font-size: 15px;
        text-align:center;
        margin: 0;
        
    }
    .comprar-boton {
        background-color: rgb(0, 0, 0); 
        color: #fff; 
        font-size: 10px; 
        font-weight: bold;
        padding: 3px 10px; 
        cursor: pointer; 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .textone{
        display: none;
    }
    .subtitulo{
        /* font-family: 'Poppins', sans-serif;  */
        font-weight: 300;
        font-size: 15px;
        color: #6e6e6e;
        margin: 15px;
        margin-left: 80px;
    }

    

    .fondo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .card p {
        /* font-family: 'Poppins', sans-serif;  */
        font-weight: 300;
        font-size: 18px;
        color: #000000;
        text-align: left;
      }

      .ima p{

        color: rgb(155, 7, 7);
        text-align: end;
        /* margin-top: 10%; */
        font-size: 12px;
        
    }
      
      .detalle {
        padding: 0px;
        padding-left: 11px;
        padding-right: 11px;
      }
      .flechita {
        position: absolute;
        top: 40%;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color:#000000;
        background-color:#fff;
        width: 35px; 
        height: 60px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.1);
    }

    .flechitaL{
        /* position: absolute; */
        
        position: absolute;
        left: 0px;
        top: 40%;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color:#000000;
        background-color:#fff;
        width: 35px; 
        height: 60px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.1);
        margin: auto;
   }
}
