@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
main {
    margin: 0 auto;
    background-color: #F9F5EB;
}
.eslogan{
    font-size: 20px;
    font-weight: 300;
    
}
a{
    /* color: white; */
    font-style: none;
    text-decoration: none !important;
}
.login{
    padding: 30px 20px;
    /* background-color: #F3F3F3; */
    /* margin: 10px; */
}
.nombrePersona{
    display: flex;
    gap: 20px;
}
.inputError{
    border-color: #EA5455;
    transition: all 0.1s ease-in-out;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    background-color: white !important;
    /* padding-bottom: 25px; */
}
.user-ingreso{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}
.email-input{
    display: flex;
    flex-direction: column;
}
.password-input{
    display: flex;
    flex-direction: column;
    /* font-size: 21px; */
}
.user-input{
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
.user-input svg {
    position: absolute;
    width: 20px;
    right: 9px;
    top: 9px;
    /* fill: #aaaaaa; */
    fill-opacity: 0.5;
}
.password-input{
    position: relative;
}
.password-input svg {
    position: absolute;
    width: 20px;
    right: 9px;
    top: 9px;
    fill: #aaaaaa;
    fill-opacity: 0.5;
}
article h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 300;
    opacity: 0.9;
    padding-top: 30px;
}
article h4 {
    text-align: center;
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.9;
}
.user-icon {
    height: 600px;
    background-color: #002B5B;
    /* width: fit-content; */
    /* border-radius: 100%; */
    /* height: fit-content; */
    display: flex;
    align-items: center;
}
.user-icon img{
    max-width: 350px;
    padding-bottom: 30px;
}

.user-ingreso input {
    border-color: #D9D9D9;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 3px;
    /* border-radius: 10px; */
    border-style: none;
    border: #a3a3a3 1px solid;
}
.ingresar{
    color: #fff;
    /*  */
    margin: 10px 0px 5px 0px;
    background-color: #1259c3;
    font-size: 16px;
    padding: 8px 30px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.ingresar:hover{
    background-color:#002B5B;
}
.contraseña{
    text-align: right;
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 3px;
}
.registro {
    background-color: #F3F3F3;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}
.registrate {
    background-color: #D9D9D9;
    /* font-weight: bolder; */
    width: fit-content;
    margin: auto;
    padding: 8px 30px;
    border-radius: 10px;
    border: hidden 15px #a3a3a3;
    cursor: pointer;
}
input:focus{
    outline-color: #1259c3;
    transition: all 0.1s ease-in-out;
}
label{
    opacity: 0.9;
}
    
@media(max-width:767px){
    .user{
        flex-direction: column-reverse;
        width: 100%;
    }
    .user-icon{
        width: 100%;
        justify-content: center;
        height: 160px;
    }
    .user-icon img{
        height: 240px;
        margin: 0;
        padding: 0;
    }
    .user-ingreso{
        width: 100%;
    }
    .user-ingreso .user-input{
        width: 100%;
    }
}
@media (max-width:474px){
    .user{
        flex-direction: column-reverse;
    }
    .user-icon{
        width: 100%;
        justify-content: center;
        height: 120px;
    }
    .user-icon img{
        height: 190px;
        margin: 0;
        padding: 0;
    }
}


