<!-- NAVBAR -->
<header>
  <% console.log(locals.isLogged, locals.userLogged) %>
    <div class="nav">
      <div class="contentNav">
        <div class="menu">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <title />
            <g data-name="menu " id="menu_">
              <path d="M29,6H3A1,1,0,0,0,3,8H29a1,1,0,0,0,0-2Z" />
              <path d="M3,17H16a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z" />
              <path d="M25,24H3a1,1,0,0,0,0,2H25a1,1,0,0,0,0-2Z" />
            </g>
          </svg>
        </div>
        <div class="logo">
          <a href="/">THE CHILL.</a>
          <div class="navbarOptions">
            <ul class="navbarCategories">
              <li>MUJER</li>
              <a href="/productodetalle">
                <li>HOMBRE</li>
              </a>
              <li><a href="/admin/create">VENDER</a></li>
              <li>SOBRE THE CHILL</li>
            </ul>
          </div>
        </div>
        <div class="userOptions">
          <% if(locals.isLogged){ %>
            <a href="/profile">
              Hi <%= locals.userLogged.firstname %>
              <img src="images/profilephotos/<%= locals.userLogged.avatar %>"" alt="">
              </a>
          <% }else{%>   
          <a href="/login">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <title />
              <g id="about">
                <path d="M16,16A7,7,0,1,0,9,9,7,7,0,0,0,16,16ZM16,4a5,5,0,1,1-5,5A5,5,0,0,1,16,4Z" />
                <path
                  d="M17,18H15A11,11,0,0,0,4,29a1,1,0,0,0,1,1H27a1,1,0,0,0,1-1A11,11,0,0,0,17,18ZM6.06,28A9,9,0,0,1,15,20h2a9,9,0,0,1,8.94,8Z" />
              </g>
            </svg>
          </a>
          <% } %>
          <a href="/carrito">
            <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
              <rect fill="none" height="256" width="256" />
              <path d="M184,184H69.8L41.9,30.6A8,8,0,0,0,34.1,24H16" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16" />
              <circle cx="80" cy="204" fill="none" r="20" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="16" />
              <circle cx="184" cy="204" fill="none" r="20" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="16" />
              <path d="M62.5,144H188.1a15.9,15.9,0,0,0,15.7-13.1L216,64H48" fill="none" stroke="#fff"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="navCategories">
      <ul class="menuCategories">
        <li>Todos</li>
        <li>Ofertas</li>
        <li>Categorias</li>
        <li>Ayuda</li>
      </ul>
    </div>
  </header>